@charset "utf-8";
.page { width: 100%; overflow: hidden; text-align: center; padding: 15px 0 30px; clear: both; }
.page .pagination { margin: 0 auto; }
.page a, .page span { display: inline-block; float:left;
background: none repeat scroll 0 0 #FFF; margin-left: 1px; padding: 10px 15px; overflow: hidden; color: #a3370f; font-size: 14px; font-weight: bold; border-right: none; -moz-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); -webkit-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); box-shadow: 1px 1px 3px rgba(226,226,226,0.75); }
.page a { background: #ee6217; }
.page a:hover { text-decoration: none; color: #fff; }
.page .disabled { background: #ee6217; color: #fff; font-weight: bold; text-align: center; }

